[color]
	ui = true
[alias]
	st = status
	co = checkout
	ls = ls-files
	sb = show-branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ci = commit
  	st = status
  	br = branch
  	hist = log --pretty=format:'%Cred%h%Creset %ad | %s%d [%an]' --graph --date=short
  	type = cat-file -t
  	dump = cat-file -p
[merge]
	tool = opendiff
[github]
	user = d2207197
	token = 3105c6d42e9d073bcfef2cbe2919489a
[core]
	excludesfile = ~/.gitignore_global
	editor = ec
